@use '../abstracts/functions' as fn;
@use '../abstracts/variables' as var;

.btn {
  border-radius: var(--Full, 80px);
  font-size: fn.toRem(14);
  line-height: fn.toRem(17);
  padding: fn.toRem(13) fn.toRem(40);
  font-family: var.$font-poppins-semi-bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  outline: fn.toRem(2) solid var.$color-outline;
  outline-offset: fn.toRem(2);
}

// Button primary
.btn-primary {
  text-transform: uppercase;
  background-color: var.$color-primary-base;
  color: var.$color-white;
  border: fn.toRem(1) solid var.$color-primary-base;
}

.btn-primary__text {
  display: inline-block;
  padding-right: fn.toRem(25);
  position: relative;
}

.btn-primary__text::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(var.$path-icons + 'icon-arrow-right-white.svg') 0 0 no-repeat;
  background-size: cover;
  height: fn.toRem(16);
  width: fn.toRem(16);
}

.btn-primary:focus {
  background-color: var.$color-primary-base;
  color: var.$color-white;
  border-color: var.$color-primary-base;
  outline: fn.toRem(2) solid var.$color-blue;
  outline-offset: fn.toRem(3);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #001f30;
  color: var.$color-white;
  border-color: #001f30;
  outline: none;
}

.btn-primary:disabled {
  background-color: var.$color-grey-light;
  color: var.$color-grey-medium-2;
  border-color: var.$color-grey-medium-2;
}

.btn-primary:disabled .btn-primary__text::after {
  background: url(var.$path-icons + 'icon-arrow-right-grey.svg') 0 0 no-repeat;
  background-size: cover;
}

// Button secondary
.btn-secondary {
  background-color: var.$color-white;
  border: fn.toRem(1) solid var.$color-primary-base;
  color: var.$color-primary-base;
}

.btn-secondary:focus {
  outline: fn.toRem(2) solid var.$color-blue;
  outline-offset: fn.toRem(3);
}

.btn-secondary:hover {
  background-color: var.$color-grey-light;
  color: var.$color-primary-base;
  border-width: fn.toRem(2);
  outline: none;
}

.btn-secondary:active {
  background-color: var.$color-grey-light;
  color: var.$color-primary-base;
  outline: none;
}

.btn-secondary:disabled {
  background-color: var.$color-grey-light;
  color: var.$color-grey-medium-2;
  border-color: var.$color-grey-medium-2;
}

// Button tertiary
.btn-tertiary {
  border: fn.toRem(1) solid var.$color-grey-dark;
  color: var.$color-grey-dark;
  background-color: var.$color-white;
}

.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active {
  background-color: var.$color-grey-dark;
  color: var.$color-white;
}

// Button quaternary
.btn-quaternary {
  border: fn.toRem(1) solid var.$color-grey-dark;
  color: var.$color-grey-dark;
  background-color: var.$color-white;
}

.btn-quaternary__wrapper {
  line-height: fn.toRem(17);
  text-align: left;
  position: relative;
  padding-left: fn.toRem(23);
  display: inline-block;
}

// .btn-quaternary__wrapper::before {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   margin-top: fn.toRem(-2);
//   height: fn.toRem(16);
//   width: fn.toRem(16);
//   background: url(var.$path-icons + 'icon-link-grey-dark.svg') 0 0 no-repeat;
//   background-size: cover;
// }

.btn-quaternary__subtext {
  font-size: fn.toRem(10);
  font-family: var.$font-poppins-regular;
  display: block;
  line-height: normal;
}

.btn-quaternary--multiline {
  padding-bottom: fn.toRem(6.25);
  padding-top: fn.toRem(6.25);
}

.btn-quaternary--multiline .btn-quaternary__wrapper::before {
  margin-top: 0;
}

.btn-quaternary:hover,
.btn-quaternary:focus,
.btn-quaternary:active {
  background-color: var.$color-grey-dark;
  color: var.$color-white;
}

// .btn-quaternary:hover .btn-quaternary__wrapper::before, .btn-quaternary:focus .btn-quaternary__wrapper::before, .btn-quaternary:active .btn-quaternary__wrapper::before {
//     background: url(var.$path-icons + 'icon-link-white.svg') 0 0 no-repeat;
//     background-size: cover;
// }