@import '../abstracts/functions';
@import '../abstracts/variables';

.btn {
  border-radius: toRem(8);
  font-size: toRem(14);
  line-height: toRem(17);
  padding: toRem(13) toRem(40);
  font-family: $font-poppins-semi-bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  outline: toRem(2) solid $color-outline;
  outline-offset: toRem(2);
}

// Button primary
.btn-primary {
  text-transform: uppercase;
  background-color: $color-pink;
  color: $color-white;
  border: toRem(1) solid $color-pink;
}

.btn-primary__text {
  display: inline-block;
  padding-right: toRem(25);
  position: relative;
}

.btn-primary__text::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url($path-icons + 'icon-arrow-right-white.svg') 0 0 no-repeat;
  background-size: cover;
  height: toRem(16);
  width: toRem(16);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: $color-white;
  color: $color-pink;
}

.btn-primary:hover .btn-primary__text::after,
.btn-primary:focus .btn-primary__text::after,
.btn-primary:active .btn-primary__text::after {
  background: url($path-icons + 'icon-arrow-right-pink.svg') 0 0 no-repeat;
  background-size: cover;
}

.btn-primary:disabled {
  background-color: $color-grey-light;
  color: $color-grey-medium-2;
  border-color: $color-grey-medium-2;
}

.btn-primary:disabled .btn-primary__text::after {
  background: url($path-icons + 'icon-arrow-right-grey.svg') 0 0 no-repeat;
  background-size: cover;
}

// Button secondary
.btn-secondary {
  background-color: $color-white;
  border: toRem(1) solid $color-pink;
  color: $color-pink;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: $color-pink;
  color: $color-white;
}

.btn-secondary:disabled {
  background-color: $color-grey-light;
  color: $color-grey-medium-2;
  border-color: $color-grey-medium-2;
}

// Button tertiary
.btn-tertiary {
  border: toRem(1) solid $color-grey-dark;
  color: $color-grey-dark;
  background-color: $color-white;
}

.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active {
  background-color: $color-grey-dark;
  color: $color-white;
}

// Button quaternary
.btn-quaternary {
  border: toRem(1) solid $color-grey-dark;
  color: $color-grey-dark;
  background-color: $color-white;
}

.btn-quaternary__wrapper {
  line-height: toRem(17);
  text-align: left;
  position: relative;
  padding-left: toRem(23);
  display: inline-block;
}

// .btn-quaternary__wrapper::before {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   margin-top: toRem(-2);
//   height: toRem(16);
//   width: toRem(16);
//   background: url($path-icons + 'icon-link-grey-dark.svg') 0 0 no-repeat;
//   background-size: cover;
// }

.btn-quaternary__subtext {
  font-size: toRem(10);
  font-family: $font-poppins-regular;
  display: block;
  line-height: normal;
}

.btn-quaternary--multiline {
  padding-bottom: toRem(6.25);
  padding-top: toRem(6.25);
}

.btn-quaternary--multiline .btn-quaternary__wrapper::before {
  margin-top: 0;
}

.btn-quaternary:hover,
.btn-quaternary:focus,
.btn-quaternary:active {
  background-color: $color-grey-dark;
  color: $color-white;
}

// .btn-quaternary:hover .btn-quaternary__wrapper::before, .btn-quaternary:focus .btn-quaternary__wrapper::before, .btn-quaternary:active .btn-quaternary__wrapper::before {
//     background: url($path-icons + 'icon-link-white.svg') 0 0 no-repeat;
//     background-size: cover;
// }
