@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

.input-error {
  color: var.$color-red;
  font-size: func.toRem(12);
  font-family: var.$font-poppins-regular;
  line-height: func.toRem(18);
  display: flex;
  align-items: flex-start;
  margin-top: func.toRem(5);
}

.input-error::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  min-height: func.toRem(15);
  min-width: func.toRem(15);
  margin-right: func.toRem(5);
  background-image: url('@/assets/images/icons/icon-error.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.input-error__message {
  vertical-align: middle;
  font-weight: inherit;
}

.c-input {
  position: relative;

  @include mix.mq-to-tablet {
    margin-top: func.toRem(16);
  }
}

.c-input__wrapper {
  position: relative;
  border: func.toRem(1) solid var.$color-grey-medium-3;
  border-radius: func.toRem(8);
  display: flex;
  flex-direction: column;
}

.c-input__wrapper--auto {
  height: auto;
}

.c-input__wrapper--auto fieldset {
  margin: 0;
  min-height: func.toRem(54);
  padding: func.toRem(8) func.toRem(16) func.toRem(4) func.toRem(16);
}

.c-input__field {
  border: 0;
  padding: 0;
}

.c-input__label {
  font-family: var.$font-poppins-semi-bold;
  line-height: func.toRem(18);
  font-size: func.toRem(12);
  color: var.$color-black;
  position: absolute;
  top: func.toRem(8);
  left: func.toRem(16);

  &::first-letter {
    text-transform: uppercase;
  }
}

legend.c-input__label {
  position: inherit;
  float: left;
}

.c-input__text {
  font-family: var.$font-sarabun-light;
  font-size: func.toRem(16);
  color: var.$color-grey;
}

.c-input__text::placeholder,
.c-input__button::placeholder {
  font-family: var.$font-sarabun-light;
  color: var.$color-grey;
  opacity: 1;
}

.c-input__text::-webkit-input-placeholder,
.c-input__button::-webkit-input-placeholder {
  font-family: var.$font-sarabun-light;
  color: var.$color-grey;
  opacity: 1;
}

.c-input__text:-ms-input-placeholder,
.c-input__button:-ms-input-placeholder {
  font-family: var.$font-sarabun-light;
  color: var.$color-grey;
  opacity: 1;
}

.c-input--invalid {
  .c-input__label {
    color: var.$color-red;
  }

  .c-input__button,
  .c-input__wrapper {
    border-color: var.$color-red;
  }
}

.c-input--filled {
  .c-input__label {
    color: var.$color-green;
  }

  .c-input__wrapper,
  .c-input__button {
    border-color: var.$color-green;
  }
}

.input-clear {
  content: '';
  position: absolute;
  cursor: pointer;
  right: func.toRem(10);
  top: 50%;
  transform: translatey(-50%);
  display: inline-block;
  height: func.toRem(16);
  width: func.toRem(16);
  background-repeat: no-repeat;
  background: none;
  background-size: cover;
  margin: 0;
  border: 0;
}

.input-clear:focus {
  outline: func.toRem(2) solid var.$color-outline-blue;
  outline-offset: func.toRem(2);
  border-radius: 50%;
}

.input-clear-red {
  background-image: url('@/assets/images/icons/icon-delete-red.svg');
}

.input-clear-green {
  background-image: url('@/assets/images/icons/icon-delete-green.svg');
}

.contact-form__step {
  @include mix.mq-desktop {
    display: flex;
    flex-flow: row wrap;
    margin: 0 func.toRem(-12);
  }
}
