@use '../abstracts/functions' as fn;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;

.sr-only {
  position: absolute;
  width: fn.toRem(1);
  height: fn.toRem(1);
  padding: 0;
  margin: fn.toRem(-1);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Container section
//.container {
//    margin: 0 auto;
//    padding: 0;
//
//    @include mq-mobile {
//        width: calc(100% - #{toRem(40)});
//        max-width: toRem(767);
//    }
//    @include mq-tablet {
//        width: calc(100% - #{toRem(40)});
//        max-width: toRem(1023);
//    }
//    @include mq-desktop {
//        width: 84.86111%;
//        max-width: toRem(1512);
//    }
//}

// titles
.title-1,
.title-1-big .title-2,
.title-3,
.title-4,
.title-5 {
  font-weight: normal;
}

.title-1,
.title-1-big .title-2,
.title-3,
.title-4,
.title-5 {
  font-family: var.$font-poppins-medium;
}

.title-1,
.title-2,
.title-3 {
  letter-spacing: fn.toRem(-0.64);
}

.title-2,
.title-3 {
  line-height: fn.toRem(40);
}

.title-1-big {
  font-size: fn.toRem(55);
  line-height: fn.toRem(58);
}

.title-1 {
  font-size: fn.toRem(40);
  line-height: fn.toRem(48);
}

.title-2 {
  font-size: fn.toRem(35);
}

.title-3 {
  font-size: fn.toRem(30);
}

.title-4 {
  font-size: fn.toRem(18);
  line-height: fn.toRem(22);
}

.title-5 {
  font-size: fn.toRem(16);
}

.title-6 {
  font-family: var.$font-poppins-regular;
  font-size: fn.toRem(14);
  line-height: fn.toRem(17);
}

// texts
.body-1 {
  font-size: fn.toRem(16);
  line-height: fn.toRem(20);
}

.body-2 {
  font-size: fn.toRem(14);
  line-height: fn.toRem(18);
}

.chips {
  font-family: var.$font-poppins-regular;
  font-size: fn.toRem(12);
  line-height: fn.toRem(18);
}

.chips strong,
.chips b {
  font-family: var.$font-poppins-semi-bold;
  font-weight: normal;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.mobile {
  @include mix.mq-mobile {
    display: block;
  }

  @include mix.mq-from-tablet {
    display: none;
  }
}

.from-tablet {
  @include mix.mq-mobile {
    display: none;
  }

  @include mix.mq-from-tablet {
    display: block;
  }
}

.desktop {
  @include mix.mq-mobile {
    display: none;
  }

  @include mix.mq-tablet {
    display: none;
  }

  @include mix.mq-desktop {
    display: block;
  }
}